In [1]:
import pandas as pd
import pydataset

ModuleNotFoundError: No module named 'pydataset'

In [18]:
titanic = pd.read_csv('Dados/Titanic.csv', delimiter=',')
titanic

      Unnamed: 0      class     age    sex survived
0              1  1st class  adults    man      yes
1              2  1st class  adults    man      yes
2              3  1st class  adults    man      yes
3              4  1st class  adults    man      yes
4              5  1st class  adults    man      yes
5              6  1st class  adults    man      yes
6              7  1st class  adults    man      yes
7              8  1st class  adults    man      yes
8              9  1st class  adults    man      yes
9             10  1st class  adults    man      yes
10            11  1st class  adults    man      yes
11            12  1st class  adults    man      yes
12            13  1st class  adults    man      yes
13            14  1st class  adults    man      yes
14            15  1st class  adults    man      yes
15            16  1st class  adults    man      yes
16            17  1st class  adults    man      yes
17            18  1st class  adults    man      yes
18            19  1st class  adults    man      yes
19            20  1st class  adults    man      yes
20            21  1st class  adults    man      yes
21            22  1st class  adults    man      yes
22            23  1st class  adults    man      yes
23            24  1st class  adults    man      yes
24            25  1st class  adults    man      yes
25            26  1st class  adults    man      yes
26            27  1st class  adults    man      yes
27            28  1st class  adults    man      yes
28            29  1st class  adults    man      yes
29            30  1st class  adults    man      yes
...          ...        ...     ...    ...      ...
1286        1287  3rd class   child  women      yes
1287        1288  3rd class   child  women      yes
1288        1289  3rd class   child  women      yes
1289        1290  3rd class   child  women      yes
1290        1291  3rd class   child  women      yes
1291        1292  3rd class   child  women      yes
1292        1293  3rd class   child  women      yes
1293        1294  3rd class   child  women      yes
1294        1295  3rd class   child  women      yes
1295        1296  3rd class   child  women      yes
1296        1297  3rd class   child  women      yes
1297        1298  3rd class   child  women      yes
1298        1299  3rd class   child  women      yes
1299        1300  3rd class   child  women       no
1300        1301  3rd class   child  women       no
1301        1302  3rd class   child  women       no
1302        1303  3rd class   child  women       no
1303        1304  3rd class   child  women       no
1304        1305  3rd class   child  women       no
1305        1306  3rd class   child  women       no
1306        1307  3rd class   child  women       no
1307        1308  3rd class   child  women       no
1308        1309  3rd class   child  women       no
1309        1310  3rd class   child  women       no
1310        1311  3rd class   child  women       no
1311        1312  3rd class   child  women       no
1312        1313  3rd class   child  women       no
1313        1314  3rd class   child  women       no
1314        1315  3rd class   child  women       no
1315        1316  3rd class   child  women       no

[1316 rows x 5 columns]

In [19]:
len(titanic)

1316

In [20]:
titanic.columns

Index(['Unnamed: 0', 'class', 'age', 'sex', 'survived'], dtype='object')

In [8]:
#data base de forma textual, então esta de forma categorica

In [23]:
titanic['class'].describe()

count          1316
unique            3
top       3rd class
freq            706
Name: class, dtype: object

In [25]:
#ver quanto de memoria esta sendo usada
titanic['class'].nbytes

10528

In [34]:
%%time
titanic['class'] == '3rd class'
# %%time especifico do notebook, teste de performance

Wall time: 0 ns

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1286     True
1287     True
1288     True
1289     True
1290     True
1291     True
1292     True
1293     True
1294     True
1295     True
1296     True
1297     True
1298     True
1299     True
1300     True
1301     True
1302     True
1303     True
1304     True
1305     True
1306     True
1307     True
1308     True
1309     True
1310     True
1311     True
1312     True
1313     True
1314     True
1315     True
Name: class, Length: 1316, dtype: bool

In [39]:
#forçar dado categorico
titanic['class'] = titanic['class'].astype('category')

In [40]:
titanic['class'].describe()

count          1316
unique            3
top       3rd class
freq            706
Name: class, dtype: object

In [45]:
#após categorisação o tamanho de memoria consumida baixa muito
titanic['class'].nbytes

1340

In [46]:
%%time
titanic['class'] == '3rd class'

Wall time: 501 µs

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1286     True
1287     True
1288     True
1289     True
1290     True
1291     True
1292     True
1293     True
1294     True
1295     True
1296     True
1297     True
1298     True
1299     True
1300     True
1301     True
1302     True
1303     True
1304     True
1305     True
1306     True
1307     True
1308     True
1309     True
1310     True
1311     True
1312     True
1313     True
1314     True
1315     True
Name: class, Length: 1316, dtype: bool